In [2]:
from pandasql import sqldf

In [3]:
# import pandas
import pandas as pd

In [8]:
customer_df = pd.read_csv(r"D:\PowerBI\Datasets\World Wide Importers\DimCustomer.csv",skiprows=1)

In [9]:
customer_df.head(2)

,Customer Key,WWI Customer ID,Customer,Bill To Customer,Category,Buying Group,Primary Contact,Postal Code,Credit Limit,Valid From,Valid To,Lineage Key
0,0,0,Unknown,NaN,NaN,NaN,NaN,NaN,? -,00:00.0,##############################################...,0
1,1,1,Tailspin Toys (Head Office),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Waldemar Fisar,90410.0,"? 100,000.000000",00:00.0,##############################################...,2

In [72]:
q='''
SELECT "Customer Key", "Customer", "Postal Code"
FROM customer_df 
WHERE 
    "Category"="Novelty Shop" and "Buying Group"="Tailspin Toys" and "Customer Key">100 and Customer LIKE "%CA)"
'''

In [81]:
q2='''
SELECT "Postal Code", COUNT(*)
FROM customer_df
GROUP BY "Postal Code"
'''

In [83]:
df_new=sqldf(q2, globals())

In [88]:
pysqldf = lambda q: sqldf(q, globals())

In [91]:
pysqldf(q2)

     Postal Code  COUNT(*)
0            NaN         1
1        90005.0         1
2        90008.0         1
3        90009.0         1
4        90010.0         2
..           ...       ...
313      90796.0         1
314      90797.0         2
315      90798.0         1
316      90799.0         1
317      90800.0         1

[318 rows x 2 columns]