In [1]:
import json
import requests
import pandas as pd
from datetime import datetime,timedelta
from shareplum import Site
from shareplum import Office365
from shareplum.site import Version

headers={
    'Content-Type':'application/json',
    'apikey':'YJPz2n1diUZxEyN23za8rpHftnqEXa6n'
}
from_date=(datetime.now() - timedelta(days = 365)).strftime("%Y-%m-%d")
to_date=datetime.now().strftime("%Y-%m-%d")
dates=[
    {
        'from':from_date,
        'to':to_date
    },
]
df = pd.DataFrame()
for dr in dates:
    url=f"https://api.apilayer.com/fixer/timeseries?base=USD&start_date={dr['from']}&end_date={dr['to']}"
    print(url)
    r=requests.get(url, headers=headers)
    if(r.status_code == requests.codes.ok):
        for e in r.json()['rates']:
            temp_df=pd.DataFrame.from_dict(r.json()['rates'][e], orient="index", columns=['rate'])
            temp_df.reset_index(inplace=True)
            temp_df.rename(columns={'index':'code'},inplace=True)
            temp_df['rate']=1/temp_df['rate']
            temp_df['rate']=round(temp_df['rate'],4)
            temp_df['datekey']=datetime.strptime(e, "%Y-%m-%d").strftime("%Y%m%d")
            df=pd.concat([df,temp_df])

https://api.apilayer.com/fixer/timeseries?base=USD&start_date=2021-11-10&end_date=2022-11-10

In [2]:
df.head(5)

  code    rate   datekey
0  AED  0.2722  20211110
1  AFN  0.0109  20211110
2  ALL  0.0094  20211110
3  AMD  0.0021  20211110
4  ANG  0.5549  20211110

In [3]:
# authcookie = Office365('https://tolaramsg.sharepoint.com', username='mrinmai.sharma@kelloggtolaram.com', password='Arbre@123#').GetCookies()
# site = Site('https://tolaramsg.sharepoint.com/sites/KelloggEswatini', version=Version.v2016, authcookie=authcookie)
# curr_list = site.List('Currencies')

In [4]:
# for item in curr_list.get_list_items():
#     curr=item['CurrencyCode']
#     datekey=datetime.now().strftime("%Y%m%d")
#     try:
#         rate=df[(df['datekey']==datekey) & (df['code']==curr)].rate.item()
#         itemId=item['ID']
#         data=[{'ID':itemId,'ZAR_Rate':rate}]
#         curr_list.UpdateListItems(data=data,kind='Update')
#         print(curr,rate)
#     except BaseException as e:
#         print(e)
#         continue

In [7]:
import pyodbc

In [3]:
server = 'arbre.database.windows.net'
database = 'budgeto'
username = 'arbredev'
password = '{xGQmXxTCgqmweV9}'   
driver= '{ODBC Driver 17 for SQL Server}'
with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        for index, row in df.iterrows():
#             print(f"UPDATE currencies SET rate={row['rate']} WHERE code='{row['code']}'")
            cursor.execute(f"UPDATE currencies SET rate={row['rate']} WHERE code='{row['code']}'")

NameError: name 'pyodbc' is not defined